:root{
    --mainSerif:scotch-display, sans-serif;
    --mainSansSerif: canada-type-gibson, sans-serif;;
    --mainRed: rgb(219, 5, 5);
    --mainOrange: #FF8C00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--mainSerif);
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 0.5em;
}

h2 { 
    font-family: var(--mainSerif);
    font-weight: 600;
    font-size: 2em; 
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

p {
    font-family: var(--mainSansSerif);
    font-size: 1.2em;
    font-weight: 100;
}




/*BACK BUTTOM*/

#back > a > i {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.6em;
    z-index: 1;
    
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
    position: fixed;
    background-color: darkorange;
    border-radius: 100px;
    color: white;
}

#back > a > i:hover{
    background-color: rgb(219, 5, 5);
}


#principal {
    display: flex;
}

#principal > figure > img {
    width: 50vw;
}

.marshall {
    display: flex;
    flex-direction: column;
    padding: 2em; 
    width: 50vw;
}

.basics {
    margin-top: 2em;
}

.trailer > h2,
#poster > h2,
#review, h2 {
    margin-bottom: 0.5em;
}

#poster,
#trailer,
#review {
    padding: 2em;
    padding-right: 0;
}

.trailer > iframe {
    margin: 0 0.5em;
}

/*MARQUEE*/

.marquee {
    width: 100%;
    padding: 0.6em 0;
    overflow: hidden;
    white-space: nowrap;
    
    background-color: var(--mainOrange);
    font-family: var(--mainSansSerif);
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: white;
}

.marquee > span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee > span:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(-100%, 0);
    }
}



/*POSTERS*/

.gal > div {
    display: flex;
    flex-direction: row;
}

.gal > div > figure > img {
    width: auto;
    height: 60vh;
    margin: 0 1em;
}

.gal {
    overflow-x: scroll; 
    overflow-y: hidden;
    padding-bottom: 3em;
}

.r-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.r-top > div {
    width: 40vw;
    margin: 2em 3em;
}

.r-top > div > h3 {
    font-family: var(--mainSansSerif);
    font-weight: 500;
    font-style: italic;
    font-size: 1.3em;
}

.r-top > div > p {
    margin-top: 0.5em;
}

.tu-review > form {
    margin-top: 2.5em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tureview {
    width: 40vw;
    height: 10vh;
    margin-top: 1em;
    border-radius: 10px;
    border-color: var(--mainOrange);
    border-style: solid;
    border-width: medium;
    
}

.tu-review > form > input[type="submit"]{
    width: 40vw;
    margin-top: 2em;
    padding: 0.6em 1em;
    border-radius: 100px;
    background-color: var(--mainOrange);
    border-color: var(--mainOrange);
    border-style: solid;
    color: white;  
    font-family: var(--mainSansSerif);
}

.videocount {
    width: 100%;
}

/*FOOTER*/

 #foot {
    padding: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    font-family: var(--mainSansSerif);
    display: flex;
    justify-content: space-between;
}

#foot > div  h4 {
    font-size: 2em;
    margin-bottom: 0.3em;
}

.logo > figure > img {
    height: 14em;
    width: auto;
    margin-bottom: 1em;
}

/*FOOTER 2*/

#foot2 {
    background-color: darkorange;
    display: flex;
    justify-content: space-around;
}

#foot2 > a > i {
    color: white;
    font-size: 2em;
    padding: 1em;
}

#foot2 > a > i:hover{
    color: var(--mainRed);
    transition: 0.5s;
}


@media only screen and (max-width: 500px) {
    #principal {
        display: flex;
        flex-direction: column;
    }
    
    #principal > figure > img {
        width: 100vw;
    }
    
    .marshall {
        width: 100%;
    }
    
    .trailer > iframe {
        width: 90%;
    }
    
    .r-top > div {
        width: 70%;
    }
    
    .tu-review > form > p {
        width: 70%;
        margin-bottom: 1em;
    }
    
    .logo > figure > img {
        font-size: 0.6em;
    }
    
    #foot {
        padding: 1em;
    }
    #foot > .contact > h4,
    #foot > .legal > h4{
        font-size: 1.3em;
    }
    
    #foot > .contact > p,
    #foot > .legal > p{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 768px) {
    #principal {
        display: flex;
        flex-direction: column;
    }
    
    #principal > figure > img {
        width: 100vw;
    }
    
    .marshall {
        width: 100%;
    }
}


